html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#theme-toggle {
  width: 48px;
  height: 24px;
}

#theme-toggle-circle {
  transition: transform 0.3s ease-in-out;
}

#theme-toggle-hider {
  margin-left: -8px;
  height: 16px;
  width: 16px;
  background-color: inherit;
  transition: transform 0.3s ease-in-out;
}

.toggled #theme-toggle-circle {
  transform: translateX(22px);
}

.toggled #theme-toggle-hider {
  transform: translateX(32px);
}

.active {
  background-color: var(--bs-nav-pills-link-active-bg) !important;
}

/* Fix tooltip flickering */
svg > g > g.google-visualization-tooltip { pointer-events: none }

main {
  overflow: hidden;
}

.sidebar {
  height: 100%;
}

.sidebar > .tab-pane {
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  overflow-y: scroll;
}

.sidebar > .active {
  height: 100%;
  visibility: visible;
  overflow-x: hidden;
}