<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EnergyMap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <script>let data = '<%- data %>';</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <main>
    <div class="container-fluid border-bottom">
      <header class="d-flex flex-wrap justify-content-start align-items-center py-2">
        <img class="img-fluid" src="/images/favicon.png" style="max-height: 40px">
        <span class="fs-4 mx-2">Energy map</span>
      </header>
    </div>


    <div class="container">
      <div class="container">
        <div class="index-goe">
          <div id="regions_div" style="width: 80%; height: 80%"></div>
        </div>
      </div>
      <div class="container">
        <form>
          <label for="energyType">Choose an energyType:</label>
          <select name="energyType" id="energyType">
            <option value="Mixed">Mixed</option>
            <option value="Generation">Generation</option>
            <option value="Load">Load</option>
            <option value="Biomass">Biomass</option>
            <option value="Fossil Brown coal/Lignite">Fossil Brown coal/Lignite</option>
            <option value="Fossil Coal-derived gas">Fossil Coal-derived gas</option>
            <option value="Fossil Gas">Fossil Gas</option>
            <option value="Fossil Hard coal">Fossil HardCoal</option>
            <option value="Fossil Oil">Fossil Oil</option>
            <option value="Fossil Oil shale">Fossil Oil Shale</option>
            <option value="Fossil Peat">Fossil Peat</option>
            <option value="Geothermal">Geothermal</option>
            <option value="Hydro Pumped Storage">Hydro Pumped Storage</option>
            <option value="Hydro Run-of-river and poundage">Hydro Run-of-river and poundage</option>
            <option value="Hydro Water Reservoir">Hydro Water Reservoir</option>
            <option value="Marine">Marine</option>
            <option value="Nuclear">Nuclear</option>
            <option value="Solar" selected="selected">Solar</option>
            <option value="Waste">Waste</option>
            <option value="Wind Offshore">Wind Offshore</option>
            <option value="Wind Onshore">Wind Onshore</option>
            <option value="Other renewable">Other renewable</option>
            <option value="Other">Other</option>
          </select>
        </form>

        <form>
          <label for="colorScale">Chose color scale (tooltip always shows real value):</label>
          <select name="colorScale" id="colorScale">
            <option value="Linear" selected="selected">Linear</option>
            <option value="Logarithmic">Logarithmic</option>
          </select>
        </form>
      </div>
    </div>

    <script>
      // update the map if the user changes the energy type or the color scale
      var scale = document.getElementById("colorScale");
      var energyType = document.getElementById("energyType");
      function onChange() {
        console.info("Selected:", scale.value, energyType.value);
        drawRegionsMap();
      }
      scale.onchange = onChange;
      energyType.onchange = onChange;
      onChange();
    </script>
    <!-- <div class="center_regions">
      <div class="regions_div" id="regions_div"></div>
    </div> -->
  </main>
  </body>
</html>
