<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EnergyMap</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <script>let data = '<%- data %>';</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body class="d-flex flex-column">
    <!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <!-- NAVIGATION BAR  -->
    <header class="container-fluid border-bottom p-0">
      <nav class="navbar navbar-expand px-2 w-100" style="height: 60px;">
        <a class="navbar-brand d-flex align-items-center px-2" href="#">
          <img src="/images/favicon.png" height="36px" width="36px">
          <p class="my-auto ms-2">EnergyMap</p>
        </a>
        <div class="navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-2">
              <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://github.com/DAT257-Team4/energy-map">
                <i class="bi bi-github fs-4"></i>
              </a>
            </li>
          </ul>  
        </div>
      </nav>
    </header>

    <!-- MAIN CONTENT -->
    <main class="d-flex flex-grow-1">
      <!-- MAP CONTAINER -->
      <section class="position-relative flex-grow-1 h-100 z-0">
        <div id="regions_div_1" class="position-absolute w-100 h-100"></div>
        <div id="regions_div_2" class="position-absolute w-100 h-100"></div>
        <div class="position-absolute d-flex flex-column" style="top: 0; right: 0;">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link border border-end-0 rounded-end-0 active" id="v-pills-data-tab" data-bs-toggle="pill" data-bs-target="#v-pills-data" type="button" role="tab" aria-controls="v-pills-data" aria-selected="false">
              <i class="bi bi-bar-chart-line"></i>
            </button>
            <button class="nav-link border border-end-0 rounded-end-0" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-gear"></i>
            </button>
            <button class="nav-link border border-end-0 rounded-end-0" id="v-pills-about-tab" data-bs-toggle="pill" data-bs-target="#v-pills-about" type="button" role="tab" aria-controls="v-pills-about" aria-selected="false">
              <i class="bi bi-question-circle"></i>
            </button>
          </div>
        </div>
      </section>

      <!-- SIDEBAR -->
      <aside class="border-start bg-light h-100 z-1" style="flex-basis: 300px;">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="container tab-pane fade show active" id="v-pills-data" role="tabpanel" aria-labelledby="v-pills-data-tab">
            Country
            <form>
              <label for="energyType">Choose an energyType:</label>
              <select name="energyType" id="energyType">
                <option value="Mixed">Mixed</option>
                <option value="Generation">Generation</option>
                <option value="Load">Load</option>
                <option value="Biomass">Biomass</option>
                <option value="Fossil Brown coal/Lignite">Fossil Brown coal/Lignite</option>
                <option value="Fossil Coal-derived gas">Fossil Coal-derived gas</option>
                <option value="Fossil Gas">Fossil Gas</option>
                <option value="Fossil Hard coal">Fossil HardCoal</option>
                <option value="Fossil Oil">Fossil Oil</option>
                <option value="Fossil Oil shale">Fossil Oil Shale</option>
                <option value="Fossil Peat">Fossil Peat</option>
                <option value="Geothermal">Geothermal</option>
                <option value="Hydro Pumped Storage">Hydro Pumped Storage</option>
                <option value="Hydro Run-of-river and poundage">Hydro Run-of-river and poundage</option>
                <option value="Hydro Water Reservoir">Hydro Water Reservoir</option>
                <option value="Marine">Marine</option>
                <option value="Nuclear">Nuclear</option>
                <option value="Solar" selected="selected">Solar</option>
                <option value="Waste">Waste</option>
                <option value="Wind Offshore">Wind Offshore</option>
                <option value="Wind Onshore">Wind Onshore</option>
                <option value="Other renewable">Other renewable</option>
                <option value="Other">Other</option>
              </select>
            </form>
          </div>
          <div class="container tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            Settings
            <form>
              <label for="colorScale">Chose color scale (tooltip always shows real value):</label>
              <select name="colorScale" id="colorScale">
                <option value="Linear" selected="selected">Linear</option>
                <option value="Logarithmic">Logarithmic</option>
              </select>
            </form>
          </div>
          <div class="container tab-pane fade" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">About</div>
        </div>
      </aside>
    </main>
  </body>
</html>
